.* {
  Class: TH1D;
  Bins: 100 -500 500;
}

pid {
  Bins: 40 -10 30;
}

N {
  Bins: 1 0 1;
}

jets_N_.* {
  Bins: 6 -0.5 5.5;
}

4j_HT {
  BinEdges: 290, 485, 705, 950, 1225, 1530, 1875, 2265, 2705, 7000;
}

2j_HT.* {
  BinEdges: 120, 170, 240, 315, 395, 480, 575, 680, 795, 930, 1085,
            1260, 1465, 1705, 1980, 2300, 5000;
}

jet1_pT {
  BinEdges: 100, 155, 235, 325, 420, 530, 650, 790, 950, 1130, 1350, 1630, 4000;
}

jet2_pT {
  BinEdges: 64, 145, 255, 385, 535, 715, 930, 1175, 3000;
}

jet3_pT {
  BinEdges: 64, 120, 205, 305, 425, 570, 2000;
}

jet4_pT {
  BinEdges: 64, 85, 135, 190, 255, 330, 415, 1500;
}

4j_mass {
  BinEdges: 100, 545, 735, 935, 1150, 1375, 1620, 1880,
            2160, 2460, 2780, 3115, 3460, 3810, 7000;
}

2j_mass_.* {
  BinEdges: 0.0, 0.04, 0.08, 0.13, 0.17, 0.23, 0.3, 0.4;
}

2j_deltaphi_.* {
  BinEdges: 0.0, 0.15, 0.3, 0.45, 0.6, 0.75, 0.9, 1.05, 1.2, 1.35, 2.5;
}

3j_deltaphi_.* {
  BinEdges: 0.0, 0.25, 0.5, 0.75, 1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 2.75, 3.0, 3.5;
}

2j_deltay_min.* {
  BinEdges: 0.0, 0.15, 0.3, 0.45, 0.6, 0.75, 0.9, 1.05, 1.2, 1.35, 1.5, 2.5;
}

2j_deltay_max.* {
  BinEdges: 0.0, 0.4, 0.8, 1.2, 1.6, 2.0, 2.4, 2.8, 3.2, 3.6, 4.0, 4.4, 4.8, 5.2, 5.6;
}

3j_deltay_.* {
  BinEdges: 0.0, 0.25, 0.5, 0.75, 1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5,
            2.75, 3.0, 3.25, 3.5, 3.75, 4.0, 5.0;
}

