.* {
  Class: TH1D;
  Bins: 100 -500 500;
}

H_mass {
  Bins: 25 120 130;
}

H_pT_\dj(?:_.*)? {
  Bins: 25 0 250;
}

.*_y(?:_.*)? {
  Bins: 50 -4.5 4.5;
}

.*_deltay(?:_.*)? {
  Bins: 50 -4.5 4.5;
}

jets_N_.* {
  Bins: 4 -0.5 3.5;
}

jet\d_pT {
  Bins: 30 0 300;
}

jet\d_tau {
  Bins: 25 0 150;
}

\dj_mass {
  Bins: 25 0 200;
}

jet\d_mass {
  Bins: 30 0 30;
}

H\dj_mass {
  Bins: 25 0 200;
}

.*_deltaphi(?:_.*)? {
  Bins: 25 -6.28319 6.28319;
}

H1j_pT(?:_.*)? {
  Bins: 25 0 150;
}

H[23]j_pT(?:_.*)? {
  Bins: 25 0 0.25;
}

loose {
  Bins: 1 0 1;
}

tight {
  Bins: 1 0 1;
}

jets_HT {
  Bins: 25 0 400;
}

jets_tau_max {
  Bins: 25 0 100;
}

jets_tau_sum {
  Bins: 25 0 100;
}

pid {
  Bins: 40 -10 30;
}

N {
  Bins: 1 0 1;
}

xs {
  Bins: 1 0 1;
}
